body{
	background-color: #F6F3EB;
	text-align:center;
}
header{
	color: #00E5E6;
	font-family: "Comic Sans MS", cursive, sans-serif;
	background-color: #FFFFFF;
	border-style:;
	border-width:;
}
h2{
	color: #3366CC;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color:;
	border-style:;
	border-width:;
}
main{
}
p{
	color: #00CCFF;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	background-color:;
	border-style:;
	border-width:;
}
footer{
	color: #003399;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color:;
	border-style:;
	border-width:;
}

