h1{
	color: #8B008B;
	background-color: #F9ECFF;
	font: 400 100px/1.3 'Arizonia', Helvetica, sans-serif;
}
h2{
	color: #DA00DA;
	background-color: #F9ECFF;
}
p{
	color: #FF7AFF;
	background-color: #F9ECFF;
}
footer{
	background-color: #F9ECFF;
}
