h2{
	background-color: green;
	color: yellow;
	font-family: Impact, Charcoal, sans-serif;
	font-style: italic;
}
h5{
	background-color: yellow;
	color: red;
}
main{
	border-style: dashed;
	border-color: red;
}
h3{
	background-color: blue;
	color: yellow;
}
h4{
	background-color: orange;
	color: blue;
}
footer{
	background-color: red;
	border-style: solid;
	border-color: red red blue yellow;
	border-width: 5px;
}
